@include border-box-sizing;

$susy: (
        columns: 12,
        container: 1170px,
        gutters: 40px/98px,
        gutter-position: split,
        output: overlay,
        global-box-sizing: border-box,
        debug: (
                image: show-columns,
                toggle: top right,
                output: background
        )
);



$breakpoint_ti: 467px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


$default_font-family : 'Open Sans', Arial, sans-serif;
$default_font-color  : #4d4d4d;
$default_font-size   : 14px;
$default_line-height : 18px;

//Add Color Palette
$blue       : #063642;
$green      : #45B29D;
$yellow     : #EFC94C;
$orange     : #E27A3F;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6C71C4;
$dark       : #000000;
$light      : #FFFFFF;

$backgroundColor    : $light;
$typeDefault        : $dark;
$navBackground      : $blue;
$navForeground      : $light;
$navHover           : $yellow;
$navBrandBg         : $red;
$headersubbg        : $dark;

//Font variables
$fontfamily       : 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

$headFont   : $thin 1.5em/1.5em $fontfamily;
$mainFont   : $thin 1em/1.5em $fontfamily;
$headColor  : lighten($blue, 20);

// ======================================
//  affinity footerbar
// ======================================

$footerbar-background-color: #4d4d4d;
$footerbar-color: #b1b1b1;

// ======================================
//  affinity system
// ======================================

$system_calendar_day_header-color: #4d4d4d;
$system_calendar_day_header-border-color: #43525a;
$system_calendar_day_header-background-color: #f6f6f6;
$system_calendar_day_wrapper_today-background-color: #fff;
$system_calendar_calendar_day_today-background-color: #fff;
$system_calendar_event_all_day-background-color: #fff;
$system_calendar_other_month-background-color: #fff;


$system_profile-background-color: #eef7fb;

$system_tabSelected-background-color: #eef7fb;
$system_tabSelected-border-color: #eef7fb;
$system_tabLeft-color: #fff;
$system_tabLeft-border-color: #fff;
$system_tabRight-color: #fff;
$system_tabRight-border-color: #fff;
$system_tabLink-color: #0cc;
$system_tabLink-background-color: #f7fbfd;
$system_tabLink-color--hover: #0CC;
$system_tabLink-background-color--hover: #e3f1f8;

$system_shadedBox-background-color: #eef7fb;

$system_my_area_navigation-background-color: #999;

//  affinity system - forums
// ======================================

$system_griditem-background-color: #eef7fb;
$system_comment_form_button-background-color: transparent;
$system_comment_form_button-border-color: #d1d2d4;
$system_comment_form_button-color: #4d4d4d;
$system_comment_form_button-background-color--hover: #5ac5c5;
$system_comment_form_button-border-color--hover: #5ac5c5;
$system_comment_form_button-color--hover: #fff;

//  affinity system - media
// ======================================

$system_media_recording_title-color: #4d4d4d;

//  affinity system - rotas
// ======================================

$system_subMenu-color: #fff;
$system_subMenu-border-color: #0cc;
$system_subMenu-background-color: #0cc;

//  affinity system - address
// ======================================
$system_address_column-border-color: #fff;
$system_address_user_details_cell-border-color: #fff;
$system_address_address_user_first_name-background-color: #f6f6f6;
$system_address_address_family_title-background-color: #f6f6f6;


//  affinity system - popup windows
// ======================================
$system_calendar_popup_window-color: #4d4d4d;
$system_calendar_popup_window-background-color: #fff;
$system_calendar_popup_window-title-background-color: #fff;
$system_calendar_popup_window-table-background-color: #fff;
$system_calendar_day_header-border-color: #43525a;




