@include border-box-sizing;

$susy: (
        columns: 12,
        container: 1170px,
        gutters: 40px/98px,
        gutter-position: split,
        output: overlay,
        global-box-sizing: border-box,
        debug: (
                image: show-columns,
                toggle: top right,
                output: background
        )
);



$breakpoint_ti: 467px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


$default_font-family : 'Open Sans', Arial, sans-serif;
$default_font-color  : #4d4d4d;
$default_font-size   : 14px;
$default_line-height : 18px;

//Add Color Palette
$blue       : #063642;
$green      : #45B29D;
$yellow     : #EFC94C;
$orange     : #E27A3F;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6C71C4;
$dark       : #000000;
$light      : #FFFFFF;

$backgroundColor    : $light;
$typeDefault        : $dark;
$navBackground      : $blue;
$navForeground      : $light;
$navHover           : $yellow;
$navBrandBg         : $red;
$headersubbg        : $dark;

//Font variables
$fontfamily       : 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

$headFont   : $thin 1.5em/1.5em $fontfamily;
$mainFont   : $thin 1em/1.5em $fontfamily;
$headColor  : lighten($blue, 20);

// ======================================
//  affinity variables
// ======================================



$affinity_link-color: #2aabab;
$affinity_link-color--hover: #5ac5c5;

$sitebutton_button-border: 1px solid #cdd0df;
$sitebutton_button-color: #4d4d4d;
$sitebutton_button-font-size: 14px;
$sitebutton_button-background-color: transparent;

$sitebutton_button-border--hover: 1px solid #5ac5c5;
$sitebutton_button-background-color--hover: #5ac5c5;
$sitebutton_button-color--hover: #fff;

// ======================================
//  affinity header
// ======================================

//  site logo & site name
// ======================================

$site_logo_name-height: 123px;
$site_logo-margin-top:15px;
$site_logo-font-size: 26px;
$site_logo-max-width: 85px;
$site_logo-color: #4d4d4d;
$site_name-margin-bottom: 75px;

// ======================================
//  affinity header + statusbar + search
// ======================================

//  site logo & site name
// ======================================

//  statusbar
// ======================================

$header_statusbar_button-border-color: #d1d2d4;
$header_statusbar_button-color: #4d4d4d;
$header_statusbar_button-color--hover: #fff;
$header_statusbar_button-background-color--hover: #5ac5c5;



// search box
// ======================================

$header_search_button-border: #d1d2d4;
$header_search_button-color: #fff;
$header_search_button-background-color: #4d4d4d;
$header_search_button-background-color--hover: #5ac5c5;
$header_search-color: #4d4d4d;

//  nav - dropdown menu
// ======================================

$nav_container-max-width: 960px;
$nav_container-width: 820px;
$nav_background-color: #f5f5f5;
$nav_link-color: #4d4d4d ;
$nav_link-color--hover: #2aabab;
$nav_link-font-size: 14px;
$nav_link-font-weight: normal;
$nav_link_home-background-color:#5ac5c5;
$nav_link-background-color: #f9f9f9;
$nav_link-background-color--hover: transparent;
$nav_link_top-margin-top: 4px;
$nav_link_home-margin-top: 0;

$nav_dropdown_link-font-size: 14px;
$nav_dropdown_link-background-color: #f5f5f5;
$nav_dropdown_link-color: #4d4d4d;
$nav_dropdown_link-color--hover: #2aabab;
$nav_dropdown_link-background-color--hover: #f5f5f5;
$nav_dropdown-background-color: #f5f5f5;
$nav_dropdown-color: #4d4d4d;
$nav_dropdown-background-color--hover: #f5f5f5;
$nav_dropdown-color--hover: #2aabab;

// ======================================
//  affinity slicknav mobile menu
// ======================================

$slicknav_button-menu-color: #fff;
$slicknav_button-text-shadow: rgba(255, 255, 255, 0.75);
$slicknav_button-background-color: #31a7de;
$slicknav_button-background-color--open: #fff;
$slicknav-color: #414141;
$slicknav-text-shadow: #fff;
$slicknav-header-background-color: #31a7de;
$slicknav-top-level-background-color: #31a7de;
$slicknav-background-color: #ddd;
$slicknav-background-color--hover: #4d4d4d;
$slicknav-color--hover: #31a7de;
$slicknav-color--open: #4d4d4d;
$slicknav-background--open: #ddd;
$slicknav-toplink-background-color--open: #ddd;
$slicknav-toplink-color--open: #2aabab;
$slicknav-font-size: 16px;
$slicknav-submenu-font-size: 13px;
$slicknav_sub_menu-background-color: #e9e9e9;
$slicknav-link-border-color: #d1d1d1;

// ======================================
//  affinity banner slideshow
// ======================================
$banner_slideshow-background-color: #fff;
$banner_slideshow_pager-background-color: #d1d2d4;
$banner_slideshow_pager-background-color--active: #5ac5c5;
$banner_slideshow_pager-width-height: 16px;
$banner_slideshow_control-background-color: #6bc4c4;


// ======================================
//  affinity banner slideshow + advert
// ======================================
$banner_slideshow_advert-background-color: #f5f5f5;
$banner_slideshow_advert_pager-background-color: #51a7c8;
$banner_slideshow_advert_pager-background-color--active: #5ac5c5;
$banner_slideshow_advert_pager-width-height: 16px;
$banner_slideshow_advert_control-background-color: #bde8e8;



// ======================================
//  affinity 4 al
// ======================================

//  info header
// ===================================

$info_header_title-color: #4d4d4d;
$info_header_title-font-size: 28px;
$info_header_title-font-family: "Open Sans", sans-serif;
$info_header_title-margin-bottom: 10px;
$info_header_title-line-height: 28px;

$info_header_text-color: #4d4d4d;
$info_header_text-font-size: 15px;
$info_header_text-font-family: "Open Sans", sans-serif;
$info_header_text-margin-bottom: 8px;
$info_header_text-line-height: 20px;

//  card layout
// ===================================

$info_cards_articleListImage-border-color: #d1d2d4;
$info_cards_articleListImage-border-radius: 94px;
$info_cards_articleListImage-border-width: 5px;

$info_cards_articleListTitle-color: #4d4d4d;
$info_cards_articleListTitle-font-size: 20px;
$info_cards_articleListTitle-font-family: "Open Sans", sans-serif;

$info_cards_articleListSummary-color: #4d4d4d;
$info_cards_articleListSummary-font-size: 16px;
$info_cards_articleListSummary-font-family: "Open Sans", sans-serif;

$info_cards_articleListLink-color: #4d4d4d;
$info_cards_articleListLink-font-size: 14px;
$info_cards_articleListLink-font-family: "Open Sans", sans-serif;
$info_cards_articleListLink-border: 1px solid #d1d2d4;
$info_cards_articleListLink-padding: 5px 10px;

$info_cards_button-border: 2px solid #d1d2d4;
$info_cards_button-color: #4d4d4d;
$info_cards_button-font-size: 14px;

$info_cards_button-border--hover: 2px solid #5ac5c5;
$info_cards_button-background-color--hover: #5ac5c5;
$info_cards_button-color--hover: #fff;

// ======================================
//  affinity form
// ======================================

//  info header
// ===================================


//  form
// ===================================

$form-background-color: #eff0f2;
$form_button-border: 2px solid #5ac5c5;
$form_button-color: #fff;
$form_button-font-size: 14px;
$form_buttom-background-color: #5ac5c5;

$form_button-border--hover: 2px solid #5ac5c5;
$form_button-background-color--hover: #5ac5c5;
$form_button-color--hover: #fff;

// ======================================
//  affinity latest news
// ======================================

$latest_news-background-color: #4d4d4d;

//  info header
// ===================================

$info_header_reverse_title-color: #fff;
$info_header_reverse_title-font-size: 28px;
$info_header_reverse_title-font-family: "Open Sans", sans-serif;
$info_header_reverse_title-margin-bottom: 10px;
$info_header_reverse_title-line-height: 28px;

$info_header_reverse_text-color: #fff;
$info_header_reverse_text-font-size: 15px;
$info_header_reverse_text-font-family: "Open Sans", sans-serif;
$info_header_reverse_text-margin-bottom: 8px;
$info_header_reverse_text-line-height: 20px;

//  news articles
// ===================================

$news_cards_articleListTitle-color: #4d4d4d;
$news_cards_articleListTitle-font-size: 16px;
$news_cards_articleListTitle-font-family: "Open Sans", sans-serif;
$news_cards_articleListTitle-background-color: #fff;

$news_cards_articleListDate-color: #4d4d4d;
$news_cards_articleListDate-font-size: 14px;
$news_cards_articleListDate-font-family: "Open Sans", sans-serif;
$news_cards_articleListDate-background-color: #fff;

$news_cards_articleListSummary-color: #4d4d4d;
$news_cards_articleListSummary-font-size: 16px;
$news_cards_articleListSummary-font-family: "Open Sans", sans-serif;
$news_cards_articleListSummary-background-color: #fff;

$news_cards_articleListLink-color: #4d4d4d;
$news_cards_articleListLink-font-size: 14px;
$news_cards_articleListLink-font-family: "Open Sans", sans-serif;
$news_cards_articleListLink-padding: 5px 10px;
$news_cards_articleListLink-background-color: #fff;
$news_cards_articleListLink-border-top: 1px solid #ededed;

$news_cards_button-border: #d1d2d4;
$news_cards_button-color: #eff0f2;
$news_cards_button-background-color: transparent;
$news_cards_button-color--hover: #fff;
$news_cards_button-border--hover: #5ac5c5;
$news_cards_button-background-color--hover: #5ac5c5;

// ======================================
//  affinity Mini Slideshow
// ======================================

$mini_slideshow-background-color: #fff;

//  info header
// ===================================

//  Mini Slideshow
// ===================================

$mini_slideshow_pager-background-color: #d1d2d4;
$mini_slideshow_pager-background-color--active: #5ac5c5;
$mini_slideshow_pager-width-height: 16px;
$mini_slideshow_control-background-color: #fff;

$mini_slideshow_button-background-color: #fff;
$mini_slideshow_button-border: 2px solid #d1d2d4;
$mini_slideshow_button-color: #4d4d4d;
$mini_slideshow_button-font-size: 14px;

$mini_slideshow_button-border--hover: 2px solid #5ac5c5;
$mini_slideshow_button-background-color--hover: #5ac5c5;
$mini_slideshow_button-color--hover: #fff;

// ======================================
//  affinity video
// ======================================

$video-background-color: #fff;

//  info header
// ===================================

//  video
// ===================================

$video_pager-background-color: #d1d2d4;
$video_pager-background-color--active: #5ac5c5;
$video_pager-width-height: 16px;
$video_control-background-color: #fff;
$video_max-width: 800px;
$video_button-background-color: #fff;
$video_button-border: 2px solid #d1d2d4;
$video_button-color: #4d4d4d;
$video_button-font-size: 14px;

$video_button-border--hover: 2px solid #5ac5c5;
$video_button-background-color--hover: #5ac5c5;
$video_button-color--hover: #fff;
// ======================================
//  affinity recent media
// ======================================

$recent_media-background-color: #eff0f2;

//  info header
// ===================================

//  media items
// ===================================

$media_cards_mediaListTitle-color: #4d4d4d;
$media_cards_mediaListTitle-font-size: 20px;
$media_cards_mediaListTitle-font-family: "Open Sans", sans-serif;
$media_cards_mediaListTitle-background-color: #fff;

$media_cards_mediaListDesc-color: #4d4d4d;
$media_cards_mediaListDesc-font-size: 16px;
$media_cards_mediaListDesc-font-family: "Open Sans", sans-serif;
$media_cards_mediaListDesc-background-color: #fff;

$media_cards_mediaListLink-color: #4d4d4d;
$media_cards_mediaListLink-font-size: 14px;
$media_cards_mediaListLink-font-family: "Open Sans", sans-serif;
$media_cards_mediaListLink-padding: 5px 10px;
$media_cards_mediaListLink-background-color: #fff;
$media_cards_mediaListLink-border-top: 1px solid #ededed;

$media_cards_button-border: #d1d2d4;
$media_cards_button-color: #4d4d4d;
$media_cards_button-background-color: transparent;
$media_cards_button-color--hover: #fff;
$media_cards_button-border--hover: #5ac5c5;
$media_cards_button-background-color--hover: #5ac5c5;

// ======================================
//  affinity Text with Background Image
// ======================================

$text_image-background-image: #fff;
$text_image_header_text-margin-bottom: 8px;

$text_image_title-color: #4d4d4d;
$text_image_title-font-size: 26px;
$text_image_title-font-family: "Open Sans", sans-serif;
$text_image_title-margin-bottom: 10px;
$text_image_title-line-height: 28px;

$text_image_text-color: #4d4d4d;
$text_image_text-font-size: 15px;
$text_image_text-font-family: "Open Sans", sans-serif;
$text_image_text-margin-bottom: 8px;
$text_image_text-line-height: 20px;

$text_image_reverse_title-color: #fff;
$text_image_reverse_title-font-size: 26px;
$text_image_reverse_title-font-family: "Open Sans", sans-serif;
$text_image_reverse_title-margin-bottom: 10px;
$text_image_reverse_title-line-height: 28px;

$text_image_reverse_text-color: #fff;
$text_image_reverse_text-font-size: 15px;
$text_image_reverse_text-font-family: "Open Sans", sans-serif;
$text_image_reverse_text-margin-bottom: 8px;
$text_image_reverse_text-line-height: 20px;

// ======================================
//  affinity 3 locations
// ======================================

//  card layout
// ===================================

$info_cards_image-border-color: #d1d2d4;
$info_cards_image-border-radius: 94px;
$info_cards_image-border-width: 5px;

$info_cards_title-color: #4d4d4d;
$info_cards_title-font-size: 20px;
$info_cards_title-font-family: "Open Sans", sans-serif;

// ======================================
//  affinity community
// ======================================

$community-background-color: #eff0f2;

//  community images
// ===================================

$card_grid_title-color: #4d4d4d;
$card_grid_title-font-size: 16px;
$card_grid_title-font-family: "Open Sans", sans-serif;
$card_grid_title-background-color: #fff;

$card_grid_subtitle-color: #4d4d4d;
$card_grid_subtitle-font-size: 15px;
$card_grid_subtitle-font-family: "Open Sans", sans-serif;
$card_grid_subtitle-background-color: #fff;

$card_grid_button-border: #d1d2d4;
$card_grid_button-color: #4d4d4d;
$card_grid_button-background-color: transparent;
$card_grid_button-color--hover: #fff;
$card_grid_button-border--hover: #5ac5c5;
$card_grid_button-background-color--hover: #5ac5c5;

// ======================================
//  affinity get in touch
// ======================================

//  info header
// ===================================

//  get in touch form fields
// ===================================

$get_in_touch-background-color: #5ac5c5;
$get_in_touch_label-color: #fff;

$get_in_touch_button-border: 2px solid #fff;
$get_in_touch_button-color: #fff;
$get_in_touch_button-font-size: 14px;
$get_in_touch_button-background-color: transparent;

$get_in_touch_button-border--hover: 2px solid #7fd7d7;
$get_in_touch_button-background-color--hover: #7fd7d7;
$get_in_touch_button-color--hover: #fff;

$get_in_touch_form_address-color: #fff;

// ======================================
//  affinity 4 info columns
// ======================================
$info_column-background-color: #f5f5f5;
$info_column-font-family: "Open Sans", sans-serif;
$info_column-font-size: 13px;
$info_column-color: #4d4d4d;
$info_column_link-color: #2aabab;
$info_column_link-color--hover: #5ac5c5;


// ======================================
//  affinity footer
// ======================================

$footer_statusbar_button-color: #5ac5c5;
$footer_statusbar_button-color--hover: #fff;
$footer_statusbar_button-background-color--hover: #5ac5c5;
$footer-background-color: #373f42;
$footer_search_button-color: #fff;
$footer_search_button-background-color: #5ac5c5;
$footer_search_button-background-color--hover: #7fd7d7;

// ======================================
//  affinity footer_3
// ======================================

$footer_3-background-color: #ffffff;

// ======================================
//  affinity footerbar
// ======================================

$footerbar-background-color: #4d4d4d;
$footerbar-color: #b1b1b1;

// ======================================
//  affinity system
// ======================================

$system_calendar_day_header-color: #4d4d4d;
$system_calendar_day_header-border-color: #43525a;
$system_calendar_day_header-background-color: #f6f6f6;
$system_calendar_day_wrapper_today-background-color: #fff;
$system_calendar_calendar_day_today-background-color: #fff;
$system_calendar_event_all_day-background-color: #fff;
$system_calendar_other_month-background-color: #fff;


$system_profile-background-color: #eef7fb;

$system_tabSelected-background-color: #eef7fb;
$system_tabSelected-border-color: #eef7fb;
$system_tabLeft-color: #fff;
$system_tabLeft-border-color: #fff;
$system_tabRight-color: #fff;
$system_tabRight-border-color: #fff;
$system_tabLink-color: #0cc;
$system_tabLink-background-color: #f7fbfd;
$system_tabLink-color--hover: #0CC;
$system_tabLink-background-color--hover: #e3f1f8;

$system_shadedBox-background-color: #eef7fb;

$system_my_area_navigation-background-color: #999;

//  affinity system - forums
// ======================================

$system_griditem-background-color: #eef7fb;
$system_comment_form_button-background-color: transparent;
$system_comment_form_button-border-color: #d1d2d4;
$system_comment_form_button-color: #4d4d4d;
$system_comment_form_button-background-color--hover: #5ac5c5;
$system_comment_form_button-border-color--hover: #5ac5c5;
$system_comment_form_button-color--hover: #fff;

//  affinity system - media
// ======================================

$system_media_recording_title-color: #4d4d4d;

//  affinity system - rotas
// ======================================

$system_subMenu-color: #fff;
$system_subMenu-border-color: #0cc;
$system_subMenu-background-color: #0cc;

//  affinity system - address
// ======================================
$system_address_column-border-color: #fff;
$system_address_user_details_cell-border-color: #fff;
$system_address_address_user_first_name-background-color: #f6f6f6;
$system_address_address_family_title-background-color: #f6f6f6;


//  affinity system - popup windows
// ======================================
$system_calendar_popup_window-color: #4d4d4d;
$system_calendar_popup_window-background-color: #fff;
$system_calendar_popup_window-title-background-color: #fff;
$system_calendar_popup_window-table-background-color: #fff;
$system_calendar_day_header-border-color: #43525a;




