/* ==========================================================================
   Global Styles to apply to System Pages
   ========================================================================== */
.systemPageLeft {
  display: none;
}
.systemPageContent h1 {
  margin-top:0;
  margin-bottom:20px;
  font-size:38px;
  font-weight:900;
  text-transform:uppercase;
}
.systemPageContent a, .eventpopupwindow a {

  padding-bottom:0;
  border-bottom:0;
  -webkit-transition:color 500ms ease,border-color 500ms ease;
  -o-transition:color 500ms ease,border-color 500ms ease;
  transition:color 500ms ease,border-color 500ms ease;
  font-size:15px;
  text-decoration:none;
}

.systemPageContent a:hover, .systemPageLeft a:hover, .eventpopupwindow a:hover{
  opacity: 0.7;
  border-bottom-color:#000;
}


/* ==========================================================================
   System Pages
   ========================================================================== */

.section {
  padding-top: 160px;
}

.systemPageContent td {
  vertical-align:top;
}

.system_content {
  width: 100%;
  margin: 0 auto;
  display: table;
}

.system_controls {
  float:left;
  padding-bottom:0
}
.system_option {
  margin-bottom:5px;
  float:left;
  width:100%
}
.system_option input,.system_option label {
  float:left;
  margin-right:5px;
  height:22px;
  line-height:22px
}
.system_title {
  margin-bottom:10px
}

/* System Page Left  */
/* section will vary with templates */



.systemPageLeft {
  display:none;
  padding-left: 2%;
  padding-right: 2%;
  width: 235px;
}
.systemPageContent {
  display:table-cell;
  padding: 0 25px 25px;
}


.system_header a,.system_body a {

}

.system_option .button {
  padding:0 15px;
  margin-top:0
}

/* System Page Area Links */
.systemPageContent ul {
  margin:20px 0 0;
  padding-left:0;
  list-style:none
}

.systemPageContent ul li ul {
  list-style:disc;
  margin:10px 0 30px 30px
}

.systemPageContent ul li {
  margin-bottom:12px
}

/* ==========================================================================
   Calendar
   ========================================================================== */

.calendar_day {
  padding: 20px;
}


.calendar_day_wrapper, .calendar_day_header {
  background-color: $system_calendar_day_header-background-color;
  border-collapse: collapse;
  color: $system_calendar_day_header-color;
  border: 1px solid $system_calendar_day_header-border-color;
}
.calendar_day_wrapper_today {
  background-color: $system_calendar_day_wrapper_today-background-color;
}
.calendar_event a {
  font-style: normal;
}

#calendar_header ul {
  margin:0
}

#calendar_title {
  height:30px;
  line-height:30px
}

#calendar_title input {
  line-height:30px;
  margin-top:7px
}

#calendar_title select {
  height:30px;
  padding:0 8px;
  background:transparent;
  -webkit-appearance:none;
  font-size:14px;
  border:1px solid #000;
  margin-right:4px
}

#calendar_title select:focus {
  outline-color:transparent;
  outline-style:none
}

.calendar_day_other_month, .calendar_day_wrapper_other_month {
  background: $system_calendar_other_month-background-color;
}

.calendar_day_today {
  background: $system_calendar_calendar_day_today-background-color;
}

.calendar_event_all_day {
  background: $system_calendar_event_all_day-background-color;
}


/* ==========================================================================
   Profile
   ========================================================================== */
table.profilebox {
  background-color:#eef7fb;
}

.systemPageContent .tabSelected {
  background-color:$system_tabSelected-background-color;
  height:20px;
  line-height:20px;
  width:33.33333%;
  text-align:center;
  color:#0CC;
  font-size:16px;
  border:2px solid #FFF;
  border-bottom:2px solid $system_tabSelected-border-color;
  vertical-align:middle;
  word-spacing:4px
}

.systemPageContent .tableft {
  width:auto;
  color:$system_tabLeft-color;
  padding:0;
  text-align:center;
  font-size:14px;
  border:2px solid $system_tabLeft-border-color;
  vertical-align:middle;
  word-spacing:4px
}

.systemPageContent .tabright {
  width:auto;
  color:$system_tabRight-color;
  padding:0;
  text-align:center;
  font-size:14px;
  border:2px solid $system_tabRight-border-color;
  vertical-align:middle;
  word-spacing:4px
}

.tableft a,.tabright a {
  border:none;
  color:$system_tabLink-color;
  width:100%;
  height:100%;
  line-height:50px;
  background-color:$system_tabLink-background-color;
}

.tableft:hover a,.tabright:hover a {
  border:none;
  background-color:$system_tabLink-background-color--hover;
  color:$system_tabLink-color--hover;
  display: inline-block;
}

table.profilebox td {
  padding:20px
}

table.profilebox td table td {
  padding:5px
}

.systemPageContent a img {
  width:auto!important;
  max-width:100px
}

.systemPageContent .shadedbox,.systemPageContent .messagesbox {
  width:100%!important;
  margin:15px auto;
  background-color:$system_shadedBox-background-color;
  padding:15px
}

.systemPageContent .shadedbox td {
  padding:10px 15px
}


.systemPageContent tr.gridheader td.header {
  padding-top: 10px;
}

.systemPageContent .shadedbox td input.button {
  width:auto!important;
  padding-right:15px;
  padding-left:15px
}

.systemPageContent textarea {
  margin:10px;
  padding:4px 3px;
  width:100%;
  border:1px solid #AAA;
  color:#7d8891;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px
}

.systemPageContent textarea:focus {
  outline:none;
  border:1px solid #000;
  box-shadow:0 0 4px rgba(49,167,222,0.8)
}

/* ==========================================================================
   My Area Navigation
   ========================================================================== */
.my-area-navigation {
  background:red
}

.my-area-navigation ul {
  float:left;
  padding:0;
  margin:0
}

.my-area-navigation ul li {
  float:left;
  list-style:none;
  margin:5px;
  background-color:$system_my_area_navigation-background-color;
}

.my-area-navigation ul li a {
  width:230px;
  height:80px;
  display:block;
  background-repeat:no-repeat;
}

.my-area-navigation ul li a:hover {
  opacity:.9
}

@media (max-width: 479px) {
  .my-area-navigation ul li {
    margin:0 10px 10px 0
  }
}

/* ==========================================================================
   Forums
   ========================================================================== */
TABLE.gridstyle {
  border-collapse:collapse;
  width:100%
}

TR.gridheader,TR.gridheader A,TD.gridheader,TD.gridheader A {
  color:#52524E;
  border-collapse:collapse
}

TD.gridheader {
  padding-bottom:10px
}

TR.griditemrow, TR.altgriditemrow, TD.griditem {
  background-color:$system_griditem-background-color;
  border-color:#aaa;
  border-width:1px;
  padding:5px;
  border-top-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-right-style:solid;
  border-collapse:collapse
}

TR.altgriditemrow TD.griditem {
  background-color:$system_griditem-background-color;
  border-color:#aaa;
  border-collapse:collapse
}

TD.griditem img {
  margin-right:7px
}

.forums_boxout_contents td a {
  border-bottom:none
}

.forums_boxout_contents td.smallText {
  padding-bottom:12px;
  border-bottom:2px solid rgba(49,167,222,0.2);
  margin-top:20px;
  width:100%
}

.systemPageContent td.subMenu {
  text-align: right;
}

.messagesbox .forumrow:nth-child(odd), .messagesbox .altforumrow:nth-child(odd)  {
  border-top: 10px solid #fff;
}

input[type="checkbox"][id$="chkSubscribe"] {
  margin: 4px 6px 4px 0;
}

.forums_boxout_contents a img {
  width: 20px;
}
div[id$="CommentForm"] .button {
  display: block;
  margin: 20px auto 40px;
  max-width: 206px;
  padding: 9px 15px;
  border-radius: 2px;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $system_comment_form_button-border-color;
  background-color: $system_comment_form_button-background-color;
  color: $system_comment_form_button-color
}
div[id$="CommentForm"] .button:hover {
  background-color: $system_comment_form_button-background-color--hover;
  border: 2px solid $system_comment_form_button-border-color--hover;
  color: $system_comment_form_button-color--hover;
}

.messagesbox .forumrow td, .messagesbox .altforumrow td {
  padding: 10px 15px;
}

table[id$="ThreadGrid"] .griditem img {
  width: 25px;
}



/* ==========================================================================
   Media
   ========================================================================== */

.media_summary_image {
  vertical-align:top;
  padding:13px 10px 0 10px
}

.media_summary_image img {
  width: auto;
  height: auto;
}
ul.media_recording_links {
  margin-top:0;
  margin-bottom:5px
}

.media_option_right {
  float:right
}

.media_option_left input,.media_option_left label {
  float:none
}

.system_header .system_option input.button {
  height:30px;
  margin-top:5px
}

.media_option_right #btnSearchTemplate {
  margin-bottom:10px
}

#media_controls .system_option {
  width:40%
}

.media_recording img {
  max-width: inherit;
}
.media_recording_title {
  color: $system_media_recording_title-color;
}
@media (max-width: 767px) {
  #media_controls .system_option {
    width:100%
  }

  .media_summary_image {
    display: none;
  }
}

/* ==========================================================================
   Rotas
   ========================================================================== */
.systemPageContent td#tdOldEventButtons,.systemPageContent td.subMenu {
  vertical-align:top
}

#tdOldEventButtons input.button {
  width:100%!important;
  font-size:12px;
  padding-right:5px;
  padding-left:5px;
  margin-top:0
}

.subMenu a {
  display:inline-block;
  height:45px;
  margin-top:0;
  margin-right:5px;
  padding-top:11px;
  padding-bottom:11px;
  padding-right:5px;
  padding-left:5px;
  border:2px solid #000;
  border-radius:2px;
  background-color:#000;
  -webkit-transition:background-color 500ms ease,border-color 500ms ease,color 500ms ease;
  -o-transition:background-color 500ms ease,border-color 500ms ease,color 500ms ease;
  transition:background-color 500ms ease,border-color 500ms ease,color 500ms ease;
  font-size:12px;
  color:#fff!important;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase
}

.subMenu a:hover {
  color:$system_subMenu-color;
  border-color:$system_subMenu-border-color;
  background-color:$system_subMenu-background-color;

}
#tblRota .griditem {
  padding-left: 10px;
  padding-right: 10px;
}
/* ==========================================================================
   Address Book Popup
   ========================================================================== */
.system_popup {
  padding:10px 10px 10px 30px
}

.system_popup .shadedbox {
  width:100%!important
}

.system_popup .shadedbox .addressfield {
  text-align:left
}

/* ==========================================================================
   Address Book
   ========================================================================== */

.address_column {
  border:3px solid $system_address_column-border-color;
}

@media (max-width: 767px) {

  .system-section {
    padding-top: 0;
  }
  .address_cell {
    border-width:0
  }

  .address_user_details_cell {
    border-bottom:8px solid $system_address_user_details_cell-border-color;
  }
}

@media (max-width: 479px) {
  #_ctl0__ctl0_cphBody_cphAltContents_txtSearchTemplate {
    margin-top:40px
  }
}

.address_family_details_column,.address_family_details_column a {
  font-size:16px
}

.address_user_first_name,.family_title {
  background: $system_address_address_user_first_name-background-color;
}

.address_user_email a.address_email_link {
  font-size:14px
}

#address_controls input[type="button"] {
  margin-bottom:20px;
  height: 20px;
  padding: 0 10px;
}


/* ==========================================================================
   Pop Up Windows
   ========================================================================== */

BODY.popupwindow, BODY.eventpopupwindow, BODY.signuppopupwindow, TD.signuppopuptd {
  background-color: $system_calendar_popup_window-background-color;
  padding: 0 12px;
}
td.popupwindow_title {
  border-width: 0;
  font-size: 20px;
  color: #333;
  background-color: $system_calendar_popup_window-title-background-color;
}
body.eventpopupwindow table {
  border-collapse:separate;
  border-spacing:5px;
  border: none;
  background-color: $system_calendar_popup_window-table-background-color;
}



/* ==========================================================================
   Calendar Component
   ========================================================================== */
td.cal_row,td.cal_altrow {
  padding-bottom:10px
}


/* ==========================================================================
   password reset styling
   ========================================================================== */

.headerbox i {
  display: block;
}

/* ==========================================================================
  Search Page.
   ========================================================================== */
input.button[id$='btnSearchTemplate'] {
  margin-top: 10px;
  height: 26px;
}

input[id$='txtSearchStringTemplate'] {
  margin-top: 16px;
  height: 26px;
}

@media (max-width: 767px) {
  .section {
    margin: 30px 0;
  }

  .systemPageContent {
    padding: 0 0 25px;
  }
}
