// ======================================
//  Affinity 4 Info Columns
// ======================================

.slice_affinity_3_info_columns {

  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $info_column-background-color;
  font-size: $info_column-font-size;
  font-family: $info_column-font-family;
  color: $info_column-color;
  text-align: center;

  .info_column {
    margin-top: 10px;
    margin-bottom: 10px;

    & > div {
      max-width: 500px;
      margin: 0 auto;
      text-align: center;

      @media (min-width: $breakpoint-sm) {
        max-width: 250px;
      }

    }
    img {
      display: block;
      margin: 0 auto;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      max-width: 500px;

      @media (min-width: $breakpoint-sm) {
        max-width: 250px;
        min-height: 100px;
      }

      &:hover {
        opacity: 0.7;
      }

    }

    a {
      color: $info_column-link-color;
      font-weight: 400;
      text-decoration: none;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;

      &:hover {
        color: $info_column_link-color--hover;
        opacity: 0.7;
      }

    }

  }
}

