// ======================================
//  affinity recent media
// ======================================

//  info header
// ===================================

.slice_affinity_recent_media {

  padding-top: 60px;
  padding-bottom: 30px;
  background-color: $recent_media-background-color;

  .info_header {

    margin: 0 auto;
    text-align: center;

    .info_header_title {
      color: $info_header_title-color;
      font-size: $info_header_title-font-size;
      font-family: $info_header_title-font-family;
      line-height: $info_header_title-line-height;
      margin-bottom: $info_header_title-margin-bottom;
      font-weight: 900;

    }
    .info_header_text {
      color: $info_header_text-color;
      font-size: $info_header_text-font-size;
      font-family: $info_header_text-font-family;
      line-height: $info_header_text-line-height;
      margin-bottom: $info_header_text-margin-bottom * 3;

    }
  }

  .media_cards {


    float: left;


    & > span {
    }
    & > span > div {
      margin-bottom: 40px;
      float: left;

      &:not(:last-child) {
       // @include make-xs-column(12);
        // @include make-sm-column(6);
       // @include make-md-column(4);
       // @include center-block;
      }

      &:last-child {
       // @include make-xs-column(12);
       //  @include make-sm-column(6);
       // @include make-md-column(4);
       // @include make-sm-column-offset(3);
       // @include make-md-column-offset(0);
      }
    }
    .mediaListImage {

      & a img {
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-backface-visibility: hidden; // fix for moving images on hover
      }

      & a:hover img {
        opacity: 0.7;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
      }

      & img {
      display: block;
      }


    }

    .mediaListTitle {
      background-color: $media_cards_mediaListTitle-background-color;
      padding: 10px 20px 0 !important;

      a {
        color: $media_cards_mediaListTitle-color;
        font-size: $media_cards_mediaListTitle-font-size;
        font-family: $media_cards_mediaListTitle-font-family;
        text-decoration: none;
      }

    }

    .mediaListDesc {
      color: $media_cards_mediaListDesc-color;
      font-size: $media_cards_mediaListDesc-font-size;
      font-family: $media_cards_mediaListDesc-font-family;
      background-color: $media_cards_mediaListDesc-background-color;
      padding: 5px 20px 20px !important;
    }

    .mediaListLink {

      background-color: $media_cards_mediaListLink-background-color;
      border-top: $media_cards_mediaListLink-border-top;

      a {

        display: inline-block;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        font-size: $media_cards_mediaListLink-font-size;
        text-decoration: none;
        background-color: $media_cards_mediaListLink-background-color;
        color: $media_cards_mediaListLink-color;
        padding: 8px 20px 9px !important;

        &:hover {
          color: #2aabab;
        }
      }

    }

  }

  .media_cards_button {
    display: block;
    margin: 20px auto 40px;
    max-width: 206px;
    padding: 9px 15px;
    border-radius: 2px;
    transition: background-color 500ms ease;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $media_cards_button-border;
    background-color: $media_cards_button-background-color;
    color: $media_cards_button-color;
    clear: both;

    &:hover {
      background-color: $media-cards_button-background-color--hover;
      border: 2px solid $media_cards_button-border--hover;
      color: $media_cards_button-color--hover;
    }
  }

  @media (min-width: $breakpoint-sm) {

    .info_header {

      .info_header_title {
        font-size: $info_header_title-font-size * 1.5;
        margin-bottom: $info_header_title-margin-bottom;
        line-height: $info_header_title-line-height * 1.5;
      }
      .info_header_text {
        margin-bottom: 35px;
        font-size: $info_header_text-font-size * 1.2;
      }
    }



  }

  @media (min-width: $breakpoint-md) {

    .media_cards {
     // @include make-md-column(10);
      float: none !important;
      margin: 0 auto;

    }

  }
}

