// ======================================
//  affinity latest News
// ======================================

//  info header
// ===================================

.slice_affinity_latest_news {

  padding-top: 40px;
  padding-bottom: 10px;
  background-color: $latest_news-background-color;

  .info_header {

    margin: 0 auto;
    text-align: center;

    .info_header_title {
      color: $info_header_reverse_title-color;
      font-size: $info_header_reverse_title-font-size;
      font-family: $info_header_reverse_title-font-family;
      line-height: $info_header_reverse_title-line-height;
      margin-bottom: $info_header_reverse_title-margin-bottom;
      font-weight: 900;
    }
    .info_header_text {
      color: $info_header_reverse_text-color;
      font-size: $info_header_reverse_text-font-size;
      font-family: $info_header_reverse_text-font-family;
      margin-bottom: 30px;
    }
  }

  .news_cards {

    & > div {
      margin-bottom: 40px;
      float: left;

      &:not(:last-child) {
       // @include make-xs-column(12);
       // @include make-sm-column(6);
       // @include make-md-column(4);
       // @include center-block;
      }

      &:last-child {
        // @include make-xs-column(12);
        // @include make-sm-column(6);
        // @include make-md-column(4);
        // @include make-sm-column-offset(3);
        // @include make-md-column-offset(0);
      }
    }
    .articleListImage img {
      display: block;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-backface-visibility: hidden; // fix for moving images on hover

      &:hover {
        opacity: 0.7;
        transform: rotate(0); // fix for moving images on hover
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
      }
    }

    .articleListTitle {
      background-color: $news_cards_articleListTitle-background-color;
      padding: 10px 20px 0 !important;

      a {
        color: $news_cards_articleListTitle-color;
        font-size: $news_cards_articleListTitle-font-size;
        font-family: $news_cards_articleListTitle-font-family;
        text-decoration: none;
        font-weight: bold;
      }

    }
    .articleListDate {
      color: $news_cards_articleListDate-color;
      font-size: $news_cards_articleListDate-font-size;
      font-family: $news_cards_articleListDate-font-family;
      background-color: $news_cards_articleListDate-background-color;
      text-decoration: none;
      display: block;
      padding: 4px 20px 0 !important;

    }
    .articleListSummary {
      color: $news_cards_articleListSummary-color;
      font-size: $news_cards_articleListSummary-font-size;
      font-family: $news_cards_articleListSummary-font-family;
      background-color: $news_cards_articleListSummary-background-color;
      padding: 5px 20px 20px !important;
    }

    .articleListLink {

      background-color: $news_cards_articleListLink-background-color;
      border-top: $news_cards_articleListLink-border-top;

      a {

        display: inline-block;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        font-size: $news_cards_articleListLink-font-size;
        text-decoration: none;
        background-color: $news_cards_articleListLink-background-color;
        color: $news_cards_articleListLink-color;
        padding: 8px 20px 9px !important;

        &:hover {
          color: #2aabab;
        }
      }

    }

  }

  .news_cards_button {
    display: block;
    margin: 20px auto 40px;
    max-width: 150px;
    padding: 9px 15px;
    border-radius: 2px;
    transition: background-color 500ms ease;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $news_cards_button-border;
    background-color: $news_cards_button-background-color;
    color: $news_cards_button-color;

    &:hover {
      background-color: $news-cards_button-background-color--hover;
      border: 2px solid $news_cards_button-border--hover;
      color: $news_cards_button-color--hover;
    }
  }

  @media (min-width: $breakpoint-sm) {

    padding-top: 0;
    padding-bottom: 20px;

    .info_header {

      padding-top: 60px;
      padding-bottom: 30px;

      .info_header_title {
        font-size: $info_header_title-font-size * 1.5;
        margin-bottom: $info_header_title-margin-bottom;
        line-height: $info_header_title-line-height * 1.5;
      }
      .info_header_text {
        margin-bottom: 35px;
        font-size: $info_header_text-font-size * 1.2;
      }
    }

  }

}