// ======================================
// slice affinity slideshow
// ======================================

.slice_affinity_mini_slideshow {

  padding-top: 30px;
  padding-bottom: 10px;
  background-color: $mini_slideshow-background-color;

  .info_header {

    margin: 0 auto;
    text-align: center;

    .info_header_title {
      color: $info_header_title-color;
      font-size: $info_header_title-font-size;
      font-family: $info_header_title-font-family;
      line-height: $info_header_title-font-size * 2;
      font-weight: bold;

    }

  }

  .miniSlides {
    margin-top: 35px;
  }
  .miniSlides .bx-wrapper {
    max-width: 700px !important;
  }

  .miniSlides .gallery_ul {
    display: none;
  }
  .miniSlides .gallery_li img {
    height: 100%;
    width: 100%
  }

  .bx-wrapper {
    border: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    left: 0 !important;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
  }

  .miniSlides .gallery_ul {
    padding: 0;
  }

  .bx-controls.bx-has-pager {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: $mini_slideshow-pager-background-color;
    -webkit-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    width: $mini_slideshow_pager-width-height;
    height: $mini_slideshow_pager-width-height;
    -moz-border-radius: $mini_slideshow_pager-width-height / 2;
    -webkit-border-radius: $mini_slideshow_pager-width-height / 2;
    border-radius: $mini_slideshow_pager-width-height / 2;
  }

  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $mini_slideshow_pager-background-color--active;
  }

  .bx-wrapper .bx-prev {
    left: -60px;
    background: url(../images/affinity-arrow-left-dark.png) no-repeat 20px center;
    opacity: 0.5;
    height: 76px;
  }

  .bx-wrapper .bx-next {
    right: -40px;
    background: url(../images/affinity-arrow-right-dark.png) no-repeat 20px center;
    opacity: 0.5;
    height: 76px;
  }

  .bx-wrapper .bx-prev:hover,
  .bx-wrapper .bx-prev:focus {
    opacity: 1;
  }

  .bx-wrapper .bx-next:hover,
  .bx-wrapper .bx-next:focus {
    opacity: 1;
  }
  .miniSlides.bx-controls-direction {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
  }
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: -162px;
    margin-top: -25px;
    outline: 0;
    width: 40px;
    height: 76px;
    text-indent: -9999px;
    z-index: 99999999;
    background-color: $mini_slideshow_control-background-color;
    display: none;
  }

  .mini_slideshow_button {
    display: block;
    margin: 20px auto 40px;
    max-width: 210px;
    padding: 9px 15px;
    border-radius: 2px;
    transition: background-color 500ms ease;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border: $mini_slideshow_button-border;
    background-color: $mini_slideshow_button-background-color;
    color: $mini_slideshow_button-color;

    &:hover {
      background-color: $mini_slideshow_button-background-color--hover;
      border: $mini_slideshow_button-border--hover;
      color: $mini_slideshow_button-color--hover;
    }
  }

  @media (min-width: $breakpoint-sm) {

    padding-top: 60px;
    padding-bottom: 30px;

    .info_header {

      .info_header_title {
        font-size: $info_header_title-font-size * 1.5;
      }
      .info_header_text {
        margin-bottom: 35px;
      }
    }

    .bx-wrapper .bx-controls-direction a {
      top: -163px;
      display: block;
    }

  }

  @media (min-width: $breakpoint-md) {

    .bx-wrapper .bx-controls-direction a {
      top: -164px;
    }

  }
}




