// ======================================
// slice affinity login box
// ======================================

#DivLoginBox {
  margin-left: -8px;
  margin-top: -50px;
  background-color: #FFF;
  position: fixed !important;
  border-style: outset !important;
  border-width: 2px !important;
  border-color: rgba(69, 95, 107, 0.2) !important;
  -webkit-box-shadow: 0 0 20px 0 rgba(000, 000, 000, 0.1);
  box-shadow: 0 0 20px 0 rgba(000, 000, 000, 0.1);



@media (min-width: 479px) {

    height: 290px !important

}

@media only screen and (max-width: 991px) {

    margin-left: 0;
    margin-top: 0

}

@media (max-width: 479px) {

    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    left: 0px !important;
    z-index: 10000 !important;
    height: 100% !important;


  div {
    width: 300px;
    margin: auto;
  }
}

.shadedbox .gridheader {
  font-size: 20px;
  font-weight: 700;
  height: 50px
}

.shadedbox td {
  padding: 2px 0
}

.shadedbox td label {
  font-size: 13px;
  font-weight: 400
}

.shadedbox td a {
  text-decoration: none;
  color: #31a7de
}

.shadedbox td a:hover {
  color: #000
}

.shadedbox td img {
  display: none
}

.shadedbox td .button {
  font-size: 16px;
  width: 100px !important;
  margin: 0 !important;
  margin-bottom: 10px !important;
  display: inline-block;
  height: 45px;
  margin-top: 10px;
  margin-right: 5px;
  padding: 8px 17px 11px;
  border-radius: 2px;
  -webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  -o-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #d1d2d4;
  background-color: #fff;
  color: #4d4d4d;
}

.shadedbox td .button:hover {
  background-color: #5ac5c5;
  border: 2px solid #5ac5c5;
  color: #fff;
}

.shadedbox td .button:focus {
  outline: none;
}

.button {

}

.button:hover {
  border-color: #383f42;
  background-color: #383f42;
}
}