// ======================================
//  Affinity 3 locations
// ======================================

.slice_affinity_3_locations {

  padding-top: 40px;
  padding-bottom: 30px;

  .info_header {

    margin: 0 auto;
    text-align: center;

    .info_header_title {
      color: $info_header_title-color;
      font-size: $info_header_title-font-size;
      font-family: $info_header_title-font-family;
      line-height: $info_header_title-line-height;
      margin-bottom: $info_header_title-margin-bottom;
      font-weight: 900;

    }
  }
  .info_card_summary {
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .info_cards {
    margin-top: 35px;
    .info_card {
      float: left;

      .info_card_image img {
        border: $info_cards_image-border-width solid $info_cards_image-border-color;
        -webkit-border-radius: $info_cards_image-border-radius;
        -moz-border-radius: $info_cards_image-border-radius;
        border-radius: $info_cards_image-border-radius;
        display: block;
        margin: 0 auto 20px;
        max-width: 179px;
      }

      .info_card_title {
        color: $info_cards_title-color;
        font-size: $info_cards_title-font-size;
        font-family: $info_cards_title-font-family;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 0 auto 12px;

      }

      .info_card_button_wrapper {

        text-align: center;
        margin-bottom: 30px;

        .info_card_button {
          display: inline-block;
          margin-top: 10px;
          margin-right: 5px;
          padding: 9px 15px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          -webkit-transition: background-color 500ms ease;
          transition: background-color 500ms ease;
          font-size: $info_cards_button-font-size;
          text-align: center;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;
          border: $info_cards_button-border;
          background-color: transparent;
          color: $info_cards_button-color;

          &:hover {
            background-color: $info_cards_button-background-color--hover;
            color: $info_cards_button-color--hover;
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-sm) {

    .info_header {

      .info_header_title {
        font-size: $info_header_title-font-size * 1.4;
        line-height: $info_header_title-line-height * 1.4;
        margin-bottom: 0;
      }
      .info_header_text {
        margin-bottom: 35px;
      }
    }

  }

  @media (min-width: $breakpoint-md) {

    padding-top: 60px;
    padding-bottom: 55px;

    .info_cards {
      .info_card_button_wrapper {
        margin-bottom: 0;
      }
    }
  }
}