// ======================================
// slice affinity slideshow
// ======================================

.slice_affinity_video {

  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $video-background-color;


  .info_header {

    margin: 0 auto;
    text-align: center;

    .info_header_title {
      color: $info_header_title-color;
      font-size: $info_header_title-font-size;
      font-family: $info_header_title-font-family;
      line-height: $info_header_title-font-size * 2;
      font-weight: bold;

    }

  }
  .video_wrapper {
    margin: 35px auto;
    text-align: center;
    max-width: $video_max-width;
  }

  .video_button {
    display: block;
    margin: 20px auto 40px;
    max-width: 210px;
    padding: 9px 15px;
    border-radius: 2px;
    transition: background-color 500ms ease;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border: $video_button-border;
    background-color: $video_button-background-color;
    color: $video_button-color;

    &:hover {
      background-color: $video_button-background-color--hover;
      border: $video_button-border--hover;
      color: $video_button-color--hover;
    }
  }

  @media (min-width: $breakpoint-sm) {

    margin-top: 30px;

    .info_header {

      .info_header_title {
        font-size: $info_header_title-font-size * 1.5;
      }
      .info_header_text {
        margin-bottom: 35px;
      }
    }

  }

  @media (min-width: $breakpoint-md) {



  }
}




